.agauche {
    border-style: dotted;
    height: 120px;
    width: 30%;
    margin-right: 550px;
}

.agauche {
    border-style: double;
    height: 367px;
    width: 15%;
    margin-left: 15px;
    float: left;
    background-color: aliceblue;
}

.entete {
    border-style: dotted;
    height: 500px;
    width: 55%;
    margin-top: auto;
}