body {
    height: 100%;
    margin: 0 0;
    font-family: 'Roboto', sans-serif;
    background: #FFF8E4;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas:
      "H H"
      "G D"
      "B B";
  }
  
  * {
    box-sizing: border-box;
    font-size: 17px;
  }

.agauche {
    border-style: dotted;
    height: 120px;
    width: 30%;
    margin-right: 550px;
}

.agauche {
    border-style: double;
    height: 367px;
    width: 15%;
    margin-left: 15px;
    float: left;
    background-color: aliceblue;
}

.entete {
    border-style: dotted;
    height: 500px;
    width: 55%;
    margin-top: auto;
}