body {
    height: 100%;
    margin: 0 0;
    font-family: 'Roboto', sans-serif;
    background: #FFF8E4;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas:
      "H H"
      "G D"
      "B B";
}
  
* {
    box-sizing: border-box;
    font-size: 17px;
}

.logo {
    height: 100px;
}
  
.entete {
    grid-area: H;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    width: 100%;
    background-color: #013662;
}
  
.entete a {
    font-size: 25px;
}
  
a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}
  
a:hover {
    text-decoration: underline;
}
  
.entete .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 100px;
    width: 550px;
}

.agauche {
    grid-area: G;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    margin: 0 auto;
    width: fit-content;
    color: white;
  }
  
  .agauche img {
    border-radius: 4px;
    width: 100%;
  }
  
  .agauche .badge {
    background: #013662;
    border: 10px solid #013662;
    border-radius: 4px;
    box-shadow: rgba(1, 54, 98, 0.26) 10px 10px;
  }
  
  .agauche .badge p,
  a {
    margin-left: 5px;
  }
