.fond {
    background-color: lightgrey;
}
    
.titre1 {
  background: lightgrey;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  inset: 10px;
  }
    
.titre2 {
  background: grey;
  font-size: 20px;
  margin-left: 25%;
  margin-right: 25%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-decoration: underline;
  }
    
.titre3 {
  font-size: 20px;
  margin-left: 75%;
  flex-direction: column;
  justify-content: center;
  text-align: end;
  font-style : italic;
    }

.titre4 {
  font-style : italic;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: grey;
  }

.titre4 {
    font-style : italic;
    flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: white;
  margin: 10px 10px 10px 10px;
}

.wrapper{
  background: white;
  display: flex;
  flex-direction: column;
  }
    
.content {
  display: flex;
  flex: 1;
  color: #000;
  }
    
.col1 {
  width: 30%;
  margin-top: 10px;
  height: 180px;
  border-top: solid 1px;
  border-left: solid 1px;
  border-bottom: solid 1px;
  margin: 2px;
  }

.col2 {
  width: 50%;
  margin: 2px;
border:dashed;
  }
  
.col3 {
width: 30%;
margin-top: 10px;
text-align: end;
height: 160px;
border-top: solid 1px;
border-right: solid 1px;
border-bottom: solid 1px;
}
  
.col5 {
  margin-left: 25%;
  margin-right: 25%;
    }

.col2top {
  border-top: solid 1px;
  margin-top:10px;
  margin-left: 5px;
  margin-left: 5px;
}
.col2bottom {
border-bottom: solid 1px;
    margin-bottom: 10px;
    }

.colspecial {
  margin-bottom: 32px;
  border-right: solid 1px;
  border-left: solid 1px;
  margin-left: 16%;
  margin-right: 16%;
}

.lastdiv{
  margin-right: 20px;
  margin-left: 20px;
  border-right: solid 1px;
  border-left: solid 1px;
  padding-top:8px;
}

body {
  font-size: 16px;
}