.fond{
    background-color: grey;
    }
    
    .titre1{
    background: white;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    }
    
    .wrapper{
        min-height: 100vh;
        background: #ccc;
        display: flex;
        flex-direction: column;
      }
    