.fond {
    background-color: lightgrey;
}
    
.titre1 {
  background: lightgrey;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  inset: 10px;
  }
    
.titre2 {
  background: grey;
  font-size: 20px;
  margin-left: 25%;
  margin-right: 25%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
    }
    
.titre3 {
  font-size: 20px;
  margin-left: 75%;
  flex-direction: column;
  justify-content: center;
  text-align: end;
  font-style : italic;
    }

.titre4 {
  font-style : italic;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  }

.wrapper{
  background: white;
  display: flex;
  flex-direction: column;
  }
    
.content {
  display: flex;
  flex: 1;
  color: #000;
  }
    
.col1 {
  width: 30%;
  padding-top: 20px;
  }

.col2 {
  width: 50%;
  }
  
.col3 {
  width: 30%;
  padding-top: 20px;
  text-align: end;
  }
  
.col5 {
  margin-left: 25%;
  margin-right: 25%;
    }

.colspecial{
  margin-bottom: 10px;
  border-right: solid 1px;
  border-left: solid 1px;
  margin-left: 16%;
  margin-right: 16%;
}

.lastdiv{
  margin-right: 20px;
  margin-left: 20px;
}

body {
  font-size: 16px;
}