.fond{
    background-color: grey;
    }
    
    .titre1{
    background: white;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    flex-direction: column;
  justify-content: center;
  text-align: center;
  inset: 10px;
    }
    
    .wrapper{
        min-height: 100vh;
        background: #ccc;
        display: flex;
        flex-direction: column;
      }
    
      .content {
        display: flex;
        flex: 1;
        background: #999;
        color: #000; 
      }
    
    
      .col1{
        width: 20%;
      }