body {
    height: 100%;
    margin: 0 0;
    font-family: 'Roboto', sans-serif;
    background: #FFF8E4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-columns: minmax(100px, auto);
}
  
* {
    box-sizing: border-box;
    font-size: 17px;
}

.introduction {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    width: 100%;
    background-color: #013662;
}

.partie1 { 
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0 50px;
width: 100%;
background-color: #013662;
}

.partie2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    width: 100%;
    background-color: #013662;
}

.partie3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    width: 100%;
    background-color: #013662;
}