p, 
ul {
  border: 2px solid wheat ;
  padding: .5em;
}

h1 {
    color: #375e97;
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 1px solid #375e97;
}

h2 {
    color: brown;
}

h3 {
    color: royalblue
}

h4 {
    color:#013662
}

body {
    height: 100%;
    margin: 0 0;
    font-family: 'Roboto', sans-serif;
    background: #FFF8E4;
    display: grid;
    grid-gap: 10px;
    grid-auto-columns: minmax(100px, auto);
    text-align: center;
}
  
* {
    box-sizing: border-box;
    font-size: 17px;
    text-align: center;
}

.introduction {
    grid-column: 3 / 4;
    display: grid;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    background-color: #013662;
    text-align: center justify;
}

.partie1 { 
    grid-column: 3 / 4;
    display: grid;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    width: 100%;
    background-color: #013662;
    margin-bottom: 10px;
    text-align: center justify;

}

.partie2 {
    grid-column: 3 / 4;
    display: grid;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    width: 100%;
    background-color: #013662;
    margin-bottom: 10px;
    text-align: center justify;
}

.partie3 {
    grid-column: 3 / 4;
    display: grid;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    width: 100%;
    background-color: #013662;
    margin-bottom: 10px;
    text-align: center justify;
}

.enbas {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    align-items: center;
    background-color: #013662;
}

.enbas img {
    height: 55%;
}